form{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.form__submit{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.header__account ul{
    display: flex;
    gap: 10px;
}
